@charset "UTF-8";
/* pomoći će ti HTML Color Picker: http://www.w3schools.com/tags/ref_colorpicker.asp */
/* meniji */
/* kategorije */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal\/sites\/all\/themes\/zagreb\/sass\/layouts\/glavna\/glavna\.layout\.scss}line{font-family:\000037}}
.l-main h1 {
  display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal\/sites\/all\/themes\/zagreb\/sass\/layouts\/glavna\/glavna\.layout\.scss}line{font-family:\000039}}
.l-content {
  margin-top: 65px;
  clear: both;
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal\/sites\/all\/themes\/zagreb\/sass\/layouts\/glavna\/glavna\.layout\.scss}line{font-family:\0000315}}
.l-region--footer {
  clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal\/sites\/all\/themes\/zagreb\/sass\/layouts\/glavna\/glavna\.layout\.scss}line{font-family:\0000319}}
.flex-control-paging {
  display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal\/sites\/all\/themes\/zagreb\/sass\/layouts\/glavna\/glavna\.layout\.scss}line{font-family:\0000323}}
img {
  height: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal\/sites\/all\/themes\/zagreb\/sass\/layouts\/glavna\/glavna\.layout\.scss}line{font-family:\0000327}}
.node--slajder-slika {
  position: relative; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal\/sites\/all\/themes\/zagreb\/sass\/layouts\/glavna\/glavna\.layout\.scss}line{font-family:\0000331}}
.node--slajder-slika .node__title {
  position: absolute;
  float: left;
  padding-left: 80px;
  margin-top: 25px;
  padding-top: 13px;
  padding-bottom: 8px;
  width: 100%;
  line-height: 130%;
  background-color: rgba(0, 0, 0, 0.5); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal\/sites\/all\/themes\/zagreb\/sass\/layouts\/glavna\/glavna\.layout\.scss}line{font-family:\0000341}}
  .node--slajder-slika .node__title a {
    font-family: 'Open Sans';
    font-weight: 300;
    color: white;
    font-size: 1.5em;
    text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal\/sites\/all\/themes\/zagreb\/sass\/layouts\/glavna\/glavna\.layout\.scss}line{font-family:\0000350}}
.node--slajder-slika .field--name-field-read-more {
  position: relative;
  float: right;
  z-index: 900; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal\/sites\/all\/themes\/zagreb\/sass\/layouts\/glavna\/glavna\.layout\.scss}line{font-family:\0000354}}
  .node--slajder-slika .field--name-field-read-more .field__label {
    display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal\/sites\/all\/themes\/zagreb\/sass\/layouts\/glavna\/glavna\.layout\.scss}line{font-family:\0000355}}
  .node--slajder-slika .field--name-field-read-more .field__item {
    font-family: 'Open Sans';
    font-weight: 300;
    margin-top: -280px;
    width: 170px;
    line-height: 150%;
    padding: 0.4em 1.3em 0.4em 1.3em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal\/sites\/all\/themes\/zagreb\/sass\/layouts\/glavna\/glavna\.layout\.scss}line{font-family:\0000362}}
    .node--slajder-slika .field--name-field-read-more .field__item a {
      color: white;
      text-decoration: none; }

/*
.l-branding {
    @include grid-span(12,1);
}

.l-content {
    clear: both;
}

.l-content h1 {
    display: none;
}

.l-region--navigation {
    @include grid-span(8,3);
}

.l-region--footer {
    clear: both;
}
*/
