/* pomoći će ti HTML Color Picker: http://www.w3schools.com/tags/ref_colorpicker.asp */

$poveznica: #b05f3c;
$plavetnilo: #75b4ff;
$ducan: #254A93;
$ducan_hover: #001f3f;
$pozadina_svih_ducana: #ffffff;
$cigla: #FF7575;
$zuto: #cdd11b;
$taks-pozadina: #EACDC1;
$sivo: LightSlateGray;
$srebro: #dddddd;

/* meniji */
$sto-raditi: rgba(56, 109, 185, 1);
$sto-raditi-hover: rgba(0, 153, 255, 1);
$gdje-spavati: rgba(122, 66, 214, 1);
$gdje-spavati-hover: rgba(192, 87, 198, 1);

/* kategorije */
$kazalista: Crimson;
$muzeji: DarkCyan;
$ostalo: GoldenRod;


