/* pomoći će ti HTML Color Picker: http://www.w3schools.com/tags/ref_colorpicker.asp */

$poveznica: #b05f3c;
$plavetnilo: #75b4ff;
$ducan: #254A93;
$ducan_hover: #001f3f;
$pozadina_svih_ducana: #ffffff;
$cigla: #FF7575;
$zuto: #cdd11b;
$taks-pozadina: #EACDC1;
$sivo: LightSlateGray;
$srebro: #dddddd;



