@charset "UTF-8";
/* pomoći će ti HTML Color Picker: http://www.w3schools.com/tags/ref_colorpicker.asp */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal\/sites\/all\/themes\/zagreb\/sass\/layouts\/taks\/taks\.layout\.scss}line{font-family:\000037}}
.page-svi-ducani {
  background: white; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal\/sites\/all\/themes\/zagreb\/sass\/layouts\/taks\/taks\.layout\.scss}line{font-family:\0000311}}
.l-content {
  clear: both;
  width: 83.13253%;
  float: left;
  margin-right: -100%;
  margin-left: 8.43373%;
  clear: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal\/sites\/all\/themes\/zagreb\/sass\/layouts\/taks\/taks\.layout\.scss}line{font-family:\0000316}}
.page-svi-ducani-2 {
  background-image: linear-gradient(bottom, #ff8b01 0%, #ffb547 100%); }
