@import "compass";
@import "breakpoint";
@import "singularitygs";

@import "../../variables/**/*";

.view-smjestaj {
    clear: both;
}

.view-smjestaj .views-row {
    width: 100%;
    height: auto;
    padding: 1em;

/*    border: 1em solid rgb(0, 0, 0);
    border: 1em solid rgba(0, 0, 0, 0);
    -webkit-background-clip: padding-box;  for Safari
    background-clip: padding-box;  for IE9+, Firefox 4+, Opera, Chrome */
/*    margin: 5px;
    border: 1px solid black;
    border-radius: 10px;
    background: SeaShell;*/
    color: black;
    float: left;	
    position: relative;
    font-family: 'Open Sans';
    font-weight: 300;
    line-height: 180%;
    word-wrap:break-word;
    border: solid 5px $muzeji;
    border-radius: 25px;
    margin: 2em 0;
}

.view-smjestaj a {
    position: relative;
    font-size: 1.5em;
    z-index: 3;
}

.view-smjestaj a:hover {
    color: $plavetnilo;
}


.view-smjestaj {
    .view-header {
        font-family: 'Open Sans';
        font-weight: 300;
        font-size: 1em;
        margin: 1em;
        color: $ducan;
    }
    .form-item-sort-bef-combine {
        width: 1000px;
        font-family: 'Open Sans';
        font-weight: 300;
        font-size: 0.6em;
        padding-bottom: 7em;
        label {display:none};
        .form-type-bef-link {
            float: left;
            a {
                color: white;
                background-color: $ducan;
                border-radius: 25px;
                padding: 0.5em 1em;
                margin: 1em 0.3em;
                text-decoration: none;
                text-transform: uppercase;
            }
        }
        #edit-sort-bef-combine-field-smjestaj-ocjena-value-asc a {background-color: $muzeji};
        #edit-sort-bef-combine-field-smjestaj-ocjena-value-desc a {background-color: $muzeji};
        #edit-sort-bef-combine-field-smjestaj-zvjezdice-value-asc a {background-color: $kazalista};
        #edit-sort-bef-combine-field-smjestaj-zvjezdice-value-desc a {background-color: $kazalista};
    }        
    .views-field-title {
        clear: both;
        float: left;
        position: relative;
        margin-right: 2em;
        padding: 0.4em 1em;
        margin-top: -2.5em;
        background-color: $ducan;
        border-radius: 25px;
        a {
            color: white;
            text-decoration: none;
            font-size: 1.2em;
            line-height: 100%;
        }
    }
    .views-field-field-smjestaj-zvjezdice {
        clear: both;
        float: left;
        margin-right: 1.5em;
    }
    .views-field-field-smjestaj-ocjena {
        display: inline;
        float: left;
        margin-right: 2em;
/*        margin-left: 235px;*/
    }
    .views-field-field-smjestaj-adresa-thoroughfare {
        display: inline;
    }
    .views-field-field-smjestaj-slika {
        position: absolute;
        height: 125px;
        margin-top: 10px;
    }
    .views-field-field-smjestaj-geo {
        display: inline;
        width: 225px;
        margin-top: 147px;
        .leaflet-control {
            font-size: 0.6em;
        }
        .leaflet-marker-icon {
            width: 50px;
            height: auto;
        }
    }
    .views-field-field-smjestaj-opis {
        color: black;
        position: relative;
        padding: 0.8em 1em 1em 1.2em;
        margin-top: 10px;
        margin-left: 240px;
        line-height: 150%;
        .daj_vise {
            a {
                font-size: 1em;
            }
        }
    }
    .views-field-nothing {
        position: relative;
        margin-left: 250px;
        a {
            font-size: 1em;
            text-transform: uppercase;
            text-decoration: none;
        }
    }
}

