.hnk, .croatian.national.theater {
    color: white;
    background-color: Crimson;
    padding-left: 1em;
}

.klovićevi.dvori, .muzej.prekinutih.veza {
    color: white;
    background-color: DarkCyan;
    padding-left: 1em;
}

.sveučilište.u.zagrebu {
    color: white;
    background-color: GoldenRod;
    padding-left: 1em;
}
    
