.hnk, .croatian.national.theater {
    padding: 0.5em 1em;
    border-radius: 10px 10px 0 0;
    background-color: $kazalista;
}

.klovićevi.dvori, .muzej.prekinutih.veza, .museum.of.broken.relationships {
    padding: 0.5em 1em;
    border-radius: 10px 10px 0 0;
    background-color: $muzeji;
}

.sveučilište.u.zagrebu {
    padding: 0.5em 1em;
    border-radius: 10px 10px 0 0;
    background-color: $ostalo;
}
    
