h1 {
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 2.5em;
    text-transform: uppercase;
    color: $ducan;
}

h2 {
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 2em;
    text-transform: uppercase;
    color: $ducan;
}
